[Desktop Entry]
Type=Application
Exec=quadrant_lite %u
Terminal=false
Categories=Utility;
Name=Quadrant Lite
Icon=dev.mrquantumoff.mcmodpackmanager_lite